---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading";
---

<Layout title="TOP PAGE" >
    <Heading level={1} className="my-4">Gunma Ramens</Heading>
    <p>しがない群馬大学学部生</p>
    
    <ul class="list-decimal">
        <li><a href="https://www.hayao0819.com" target="_blank">山田ハヤオ</a></li>
    </ul>
</Layout>
