---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
---

<Layout title="TOP PAGE" >
    <Header />
    
    <ul class="list-decimal">
        <li><a href="https://www.hayao0819.com" target="_blank">山田ハヤオ</a></li>
    </ul>
</Layout>
